



extends layout
block content
  script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
  script(language='JavaScript').
    function deleteNote() {
      var who = document.getElementById('noteToDelete').value;
      document.getElementById('noteToDelete').value= "";
      $.ajax({
         method: "DELETE",
         url: "/deleteNote/" + who,
         success: function(result) {
           console.log(result);
            window.location.href = '/noteList/';
         }
      })
    }
  h2.
    Note List
  ul
    each note, i in noteList                              
      li
        a(href="/findNote/#{note.Subject}")= note.Subject
  
  h2.
    Delete Note here
  input(type='text', name='noteToDelete', id='noteToDelete' placeholder="enter note to delete")
  input(type='button', value='Submit', onclick='deleteNote()')
        
